<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="com.stackroute.domain.Movie" id="movie">
        <property name="actor" ref="actor"></property>
    </bean>

    <bean class="com.stackroute.domain.Actor" id="actor">
        <property name="name" value="Anurag"></property>
        <property name="gender" value="Male"></property>
        <property name="age" value="21"></property>
    </bean>


</beans>